#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:rgb(230, 220, 220);
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    position: sticky;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li{
    list-style:none;
    padding: 0 30px;
}
#navbar li a{
    text-decoration: none;
    color: black;
}
#navbar li a:hover{
    color:darkmagenta;
    transition-delay: 0.3s;
}

/* hero section */
#hero{
    background: url('/website/img/hero4.png');
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 80px;

}
#hero h4{
    padding-bottom: 10px;
    font-family: ;
}
#hero h1{
    color:#088178;
}
#hero button{
    background: url('/website/img/button.png');
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
}
/* footer section */
footer{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background:rgb(230, 220, 220);
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-left: 20px;
}
.col h4{
    color: black;
    font-size: 18px;
    font-weight:200 ;
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col p{
    color: black;
    font-size: 13px;
    padding-bottom: 5px;
}
.col p:hover{
    color:rgb(70, 172, 231);
    cursor: pointer;
}
